  <% @n.children.each do |element| %>
    <h5><%= element.value %></h5>
    <div id=<%= element.value %>></div>
  <% end %>

<script>
 var loadContent = function (clicked) {  
     $.ajax({  
       type: 'GET',  
       url: '/topics/' + clicked
     }).done(function(data) {
      $('#'+clicked).html(data);
   });  
   };

 $(function () {  
   $("#menu").accordion({  
     autoHeight: true,
     collapsible: true,  

     activate: function (event, ui) {  
       loadContent(ui.newHeader.text());  
     }  
   });  
 }); 
</script>